.hedder-2,
.hedder-2 * {
  box-sizing: border-box;
}
.hedder-2 {
  background: #070913;
  height: 6.5rem;
  position: relative;
}
.hedder-2__frame-1000006220 {
  width: 33.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.1rem;
  top: 1.8rem;
}
.hedder-2__button {
  background: #206cc6;
  border-radius: 0.7rem;
  padding: 1.2rem 2.2rem 1.333rem 2.3329999999999997rem;
  display: flex;
  flex-direction: row;
  gap: 0.667rem;
  align-items: center;
  justify-content: center;
  width: 8.2rem;
  height: 2.8rem;
  position: absolute;
  left: calc(50% - -4.8rem);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.hedder-2__div {
  color: #ffffff;
  text-align: center;
  font-family: "WixMadeforDisplay-Medium", sans-serif;
  font-size: 1.2rem;
  line-height: 160%;
  font-weight: 500;
  position: relative;
}
.hedder-2__button2 {
  background: #101529;
  border-radius: 0.7rem;
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 30.6rem;
  top: 0.1rem;
  overflow: hidden;
}
.hedder-2__svg {
  width: 1.67rem;
  height: 1.67rem;
  position: absolute;
  left: 0.487rem;
  top: 0.487rem;
  overflow: visible;
}
.hedder-2__group-197-1 {
  width: 10.2rem;
  height: 2.726rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.hedder-2__frame-1000005973 {
  width: 4.8469999999999995rem;
  height: 0.932rem;
  position: absolute;
  left: 3.568rem;
  top: 0.324rem;
  overflow: visible;
}
.hedder-2__vector {
  width: 8.12%;
  height: 33.24%;
  position: absolute;
  right: 56.9%;
  left: 34.98%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.hedder-2__vector2 {
  width: 1.65%;
  height: 33.24%;
  position: absolute;
  right: 54%;
  left: 44.35%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.hedder-2__vector3 {
  width: 7.89%;
  height: 33.24%;
  position: absolute;
  right: 43.58%;
  left: 48.53%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.hedder-2__vector4 {
  width: 8.38%;
  height: 34.19%;
  position: absolute;
  right: 33.33%;
  left: 58.29%;
  bottom: 3.88%;
  top: 61.93%;
  overflow: visible;
}
.hedder-2__vector5 {
  width: 8.73%;
  height: 33.24%;
  position: absolute;
  right: 22.41%;
  left: 68.86%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.hedder-2__vector6 {
  width: 9.57%;
  height: 34.19%;
  position: absolute;
  right: 11.6%;
  left: 78.84%;
  bottom: 3.88%;
  top: 61.93%;
  overflow: visible;
}
.hedder-2__vector7 {
  width: 9.72%;
  height: 33.24%;
  position: absolute;
  right: 0%;
  left: 90.28%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.hedder-2__frame-1000005974 {
  width: 2.918rem;
  height: 2.7239999999999998rem;
  position: absolute;
  left: 0rem;
  top: -0.13rem;
  overflow: visible;
}
