<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://127.0.0.1:8000/robux_places_pc/vars.css">
  <link rel="stylesheet" href="http://127.0.0.1:8000/robux_places_pc/style.css">
  
  
  <style>
    html {
      font-size: 0.52vw;
    }
    
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="place">
    <div class="place__frame-1000005835">
      <div class="place__frame-1000005844">
        <div class="place__frame-1000005980">
          <img class="place__frame-1000002526" src="http://127.0.0.1:8000/robux_places_pc/frame-10000025260.svg" />
          <div class="place__place2">Place</div>
        </div>
        <div class="place__place3">
            Выбери Place, который будет использоваться для покупки
          </div>
        <div class="place__button">
          <div class="place__list">
            <div class="place__item"></div>
            <div class="place__item2"></div>
            <div class="place__item3"></div>
            <div class="place__item4"></div>
            <div class="place__item5"></div>
            <div class="place__item6"></div>
            <div class="place__item7"></div>
            <div class="place__item8"></div>
          </div>
          <div class="place__heading-2">Продолжить</div>
        </div>
        <div class="flex_container_places">
          {% if places %}
    {% for place in places %}
      {% with pid=place.rootPlace.id %}
          <div class="place__frame-1000005982">
            <img class="place__image-78" src="http://127.0.0.1:8000/robux_places_pc/image-780.png" />
            <div class="place__gefzyy-123-place">{{ place.name }}</div>
          </div>
      {% endwith %}
    {% endfor %}
  {% else %}
    <p>У пользователя нет опубликованных плейсов.</p>
  {% endif %}
        </div>
      </div>
      <div class="place__frame-1000002205">
        <div class="place__footer">
          <div class="place__frame-1000005910">
            <div class="place__frame-1000005875">
              <div class="place__frame-1000005873">
                <div class="place__div">Важная информация</div>
                <div class="place__frame-1000006053">
                  <div class="place__div2">Политика конфиденциальности</div>
                  <div class="place__div2">Пользовательское соглашение</div>
                  <div class="place__div2">Политика возврата средств</div>
                </div>
              </div>
              <div class="place__frame-10000058752">
                <div class="place__div">КОНТАКТЫ</div>
                <div class="place__frame-1000006053">
                  <div class="place__you-tube">Наш YouTube</div>
                  <div class="place__vk">Наш VK</div>
                  <div class="place__telegram">Наш Telegram</div>
                </div>
              </div>
            </div>
            <div class="place__frame-1000005850">
              <div class="place__background"></div>
              <div class="place__div3">Все системы в порядке</div>
              <div class="place__frame-1000006041">
                <img class="place__svg" src="http://127.0.0.1:8000/robux_places_pc/svg0.svg" />
                <div class="place__svg2">
                  <img class="place__vector" src="http://127.0.0.1:8000/robux_places_pc/vector0.svg" />
                  <div class="place__frame-1000006010">
                    <img class="place__page-1" src="http://127.0.0.1:8000/robux_places_pc/page-10.svg" />
                  </div>
                </div>
                <img class="place__svg3" src="http://127.0.0.1:8000/robux_places_pc/svg2.svg" />
                <img class="place__svg4" src="http://127.0.0.1:8000/robux_places_pc/svg3.svg" />
              </div>
            </div>
          </div>
          <div class="place__rbxkingdom-gg-2024">
            rbxkingdom.com © 2024 все права защищены
          </div>
        </div>
        <div class="place__subsections">
          <div class="place__frame-1000005876">
            <div
              class="place__beneficiary-international-business-systems-s-r-l-reg-number-3-102-693823-beneficiary-s-address-san-jose-santa-ana-three-hundred-and-fifty-meters-of-the-restaurant-ceviche-del-rey-costa-rica-rbxkingdom-gmail-com"
            >
              Beneficiary: INTERNATIONAL BUSINESS SYSTEMS S.R.L.
              <br />
              Reg. number: 3-102-693823
              <br />
              Beneficiary&#039;s address: SAN JOSE-SANTA ANA,THREE HUNDRED AND
              FIFTY METERS OF THE RESTAURANT CEVICHE DEL REY, COSTA-RICA
              <br />
              <br />
              rbxkingdom@gmail.com
            </div>
            <div class="place__logo">
              <div class="place__frame-1000006060">
                <img
                  class="place__frame-1000005974"
                  src="http://127.0.0.1:8000/robux_places_pc/frame-10000059740.svg"
                />
              </div>
              <div class="place__robux-kingdom">RobuxKingdom</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="place__frame-54">
      <div class="place__frame-1000002206">
        <div class="place__frame-48095931"></div>
        <div class="place__frame-48095932">
          <div class="place__frame-48095930">
            <div class="place__frame-48095926">
              <div class="place__div4">Купить робуксы</div>
              <div class="place__home-yg-39-z-0-c-5-js-4-n-1">
                <img class="place__glyph" src="http://127.0.0.1:8000/robux_places_pc/glyph0.svg" />
              </div>
            </div>
            <div class="place__frame-3">
              <img class="place__group" src="http://127.0.0.1:8000/robux_places_pc/group0.svg" />
              <div class="place__div5">Бонусы</div>
            </div>
            <div class="place__frame-48095929">
              <img
                class="place__coupon-svgrepo-com-1"
                src="http://127.0.0.1:8000/robux_places_pc/coupon-svgrepo-com-10.svg"
              />
              <div class="place__frame-5">
                <div class="place__div6">Промокод</div>
              </div>
            </div>
            <div class="place__frame-480959302">
              <img
                class="place__shopping-cart-svgrepo-com-1"
                src="http://127.0.0.1:8000/robux_places_pc/shopping-cart-svgrepo-com-10.svg"
              />
              <div class="place__frame-5">
                <div class="place__div7">Мои покупки</div>
              </div>
            </div>
          </div>
        </div>
        <div class="place__group-197-1">
          <img class="place__frame-1000005973" src="http://127.0.0.1:8000/robux_places_pc/frame-10000059730.svg" />
          <img class="place__vector2" src="http://127.0.0.1:8000/robux_places_pc/vector1.svg" />
          <img class="place__vector3" src="http://127.0.0.1:8000/robux_places_pc/vector2.svg" />
          <img class="place__vector4" src="http://127.0.0.1:8000/robux_places_pc/vector3.svg" />
          <img class="place__vector5" src="http://127.0.0.1:8000/robux_places_pc/vector4.svg" />
          <img class="place__vector6" src="http://127.0.0.1:8000/robux_places_pc/vector5.svg" />
          <img class="place__vector7" src="http://127.0.0.1:8000/robux_places_pc/vector6.svg" />
          <img class="place__vector8" src="http://127.0.0.1:8000/robux_places_pc/vector7.svg" />
          <img class="place__frame-10000059742" src="http://127.0.0.1:8000/robux_places_pc/frame-10000059741.svg" />
        </div>
        <div class="place__frame-1000006215">
          <img
            class="place__frame-1000005905-variant-3"
            src="http://127.0.0.1:8000/robux_places_pc/frame-1000005905-variant-30.svg"
          />
          <img
            class="place__frame-1000005907-variant-2"
            src="http://127.0.0.1:8000/robux_places_pc/frame-1000005907-variant-20.svg"
          />
          <img
            class="place__frame-1000005906-variant-1"
            src="http://127.0.0.1:8000/robux_places_pc/frame-1000005906-variant-10.svg"
          />
        </div>
      </div>
    </div>
    <div class="place__frame-1000005958">
      <img class="place__image" src="http://127.0.0.1:8000/robux_places_pc/image0.png" />
      <div class="place__frame-1000005915">
        <div class="place__gefzyy-123">gefzyy_123</div>
        <div class="place__div8">Перейти в профиль</div>
      </div>
      <img class="place__vector9" src="http://127.0.0.1:8000/robux_places_pc/vector8.svg" />
    </div>
  </div>
  
</body>
</html>