{% load static %}
<style>
  height: 7.2010000000000005rem;
  position: absolute;
  left: 50.5rem;
  top: 5rem;
}
.div__frame-1000002206 {
  border-radius: 3rem;
  width: 142.4rem;
  height: 8.474rem;
  position: absolute;
  left: 24.3rem;
  top: 2.9rem;
  overflow: hidden;
}
.div__frame-48095931 {
  width: 145.967rem;
  height: 5.338rem;
  position: absolute;
  left: 4.816rem;
  top: 1.575rem;
}
.div__button-2 {
  background: linear-gradient(
    89.47deg,
    rgba(64, 149, 210, 1) 0%,
    rgba(38, 97, 186, 1) 100%
  );
  border-radius: 2rem;
  padding: 1.6280000000000001rem 4.340999999999999rem 1.519rem
    4.340999999999999rem;
  display: flex;
  flex-direction: row;
  gap: 1.085rem;
  align-items: center;
  justify-content: center;
  width: 24.155rem;
  height: 5.0649999999999995rem;
  position: absolute;
  left: 111.484rem;
  top: 0.125rem;
}
.div__div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.554rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div__frame-1000006215 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 12.3rem;
  height: 3.1rem;
  position: absolute;
  left: 94.184rem;
  top: 1.125rem;
}
.div__frame-1000005905-variant-3 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.div__frame-1000005907-variant-2 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.div__frame-1000005906-variant-1 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.div__frame-480959322 {
  padding: 0.9259999999999999rem;
  display: flex;
  flex-direction: column;
  gap: 0.9259999999999999rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 73.539rem;
  position: absolute;
  left: 22.9rem;
  top: 0.6rem;
}
.div__frame-48095930 {
  border-radius: 9.948rem;
  padding: 1.575rem 3.9829999999999997rem 1.575rem 3.9829999999999997rem;
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(0.199rem);
}
.div__frame-48095926 {
  flex-shrink: 0;
  width: 16rem;
  height: 2.2rem;
  position: relative;
}
.div__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8489999999999998rem;
  font-weight: 600;
  position: absolute;
  left: 3.191rem;
  top: -0.001rem;
  width: 14.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div__home-yg-39-z-0-c-5-js-4-n-1 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -0.009rem;
  top: 0.099rem;
  overflow: hidden;
}
.div__glyph {
  width: 83.33%;
  height: 91.66%;
  position: absolute;
  right: 8.33%;
  left: 8.34%;
  bottom: 4.17%;
  top: 4.18%;
  overflow: visible;
}
.div__frame-3 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div__group {
  flex-shrink: 0;
  width: 1.8510000000000002rem;
  height: 1.799rem;
  position: relative;
  overflow: visible;
}
.div__div4 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8489999999999998rem;
  font-weight: 500;
  position: relative;
  width: 6.2rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div__frame-48095929 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div__frame-5 {
  display: flex;
  flex-direction: row;
  gap: 1.228rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div__coupon-svgrepo-com-1 {
  flex-shrink: 0;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  overflow: visible;
}
.div__div5 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4899999999999998rem;
  font-weight: 500;
  position: relative;
  width: 8.4rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div__frame-48095928 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div__shopping-cart-svgrepo-com-1 {
  flex-shrink: 0;
  width: 1.9989999999999999rem;
  height: 1.9989999999999999rem;
  position: relative;
  overflow: visible;
}
.div__div6 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4899999999999998rem;
  font-weight: 500;
  position: relative;
  width: 10.5rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div__group-197-1 {
  width: 15.716rem;
  height: 4.2rem;
  position: absolute;
  left: 6.4rem;
  top: 2.2rem;
  overflow: hidden;
}
.div__frame-1000005973 {
  width: 7.468000000000001rem;
  height: 1.436rem;
  position: absolute;
  left: 5.497rem;
  top: 0.5rem;
  overflow: visible;
}
.div__vector {
  width: 8.12%;
  height: 33.24%;
  position: absolute;
  right: 56.9%;
  left: 34.97%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.div__vector2 {
  width: 1.65%;
  height: 33.24%;
  position: absolute;
  right: 54%;
  left: 44.35%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.div__vector3 {
  width: 7.89%;
  height: 33.24%;
  position: absolute;
  right: 43.58%;
  left: 48.53%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.div__vector4 {
  width: 8.38%;
  height: 34.19%;
  position: absolute;
  right: 33.33%;
  left: 58.29%;
  bottom: 3.87%;
  top: 61.94%;
  overflow: visible;
}
.div__vector5 {
  width: 8.73%;
  height: 33.24%;
  position: absolute;
  right: 22.41%;
  left: 68.86%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.div__vector6 {
  width: 9.57%;
  height: 34.19%;
  position: absolute;
  right: 11.6%;
  left: 78.83%;
  bottom: 3.87%;
  top: 61.94%;
  overflow: visible;
}
.div__vector7 {
  width: 9.72%;
  height: 33.24%;
  position: absolute;
  right: 0%;
  left: 90.28%;
  bottom: 4.35%;
  top: 62.41%;
  overflow: visible;
}
.div__frame-1000005974 {
</style>
      <div class="div__frame-1000002206">

        <div class="div__frame-48095931">
          {% if not profile %}
            <div class="div__button-2">
              <a class="div__div2" href="#auth" data-fancybox id="triggger">Войти в аккаунт</a>
            </div>
          {% endif %}
          {% if profile %}

          <style>
            .div__frame-1000005958 {
              width: 19.9rem;
              height: 5.6rem;
              position: absolute;
              left: 111.2rem;
              top: -0.5rem;
            }
            .div__image2 {
              border-radius: 50%;
              width: 5.6rem;
              height: 5.6rem;
              position: absolute;
              left: 0rem;
              top: 0rem;
              object-fit: cover;
            }
            .div__frame-1000005915 {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              align-items: flex-start;
              justify-content: flex-start;
              width: 13.4rem;
              position: absolute;
              left: 6.5rem;
              top: 0.7rem;
            }
            .div__gefzyy-1232 {
              color: #ffffff;
              text-align: left;
              font-family: "Gilroy-Bold", sans-serif;
              font-size: 1.6rem;
              line-height: 2.988rem;
              font-weight: 700;
              position: relative;
              align-self: stretch;
              height: 1.9rem;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            .div__div11 {
              left: 0rem;
              top: -0.5rem;
              color: #80889a;
              text-align: left;
              font-family: "Gilroy-Medium", sans-serif;
              font-size: 1.2rem;
              line-height: 1.356rem;
              font-weight: 500;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            .div__vector9 {
              width: 0.708rem;
              height: 1.423rem;
              position: absolute;
              left: 19.2rem;
              top: 1.5rem;
              transform: translate(-0.047rem, -0.047rem);
              overflow: visible;
            }

          </style>
          <a class="div__frame-1000005958 button" href="http://rbxkingdom.com/account/">
            <img class="div__image2" src="{{ profile.image_url }}" />
            <div class="div__frame-1000005915">
              <div class="div__gefzyy-1232">{{ profile.username }}</div>
              <div class="div__div11">Перейти в профиль</div>
            </div>
            <img class="div__vector9" src="http://rbxkingdom.com/robux_account_pc/vector8.svg" />
          </a>

          {% endif %}
          
          

          <div class="div__frame-1000006215">
            <img class="div__frame-1000005905-variant-3" src="robux_head_pc/frame-1000005905-variant-30.svg" />
            <img class="div__frame-1000005907-variant-2" src="robux_head_pc/frame-1000005907-variant-20.svg" />
            <img class="div__frame-1000005906-variant-1" src="robux_head_pc/frame-1000005906-variant-10.svg" />
          </div>
        </div>
        <div class="div__frame-480959322">
          <div class="div__frame-48095930">
            <div class="div__frame-48095926">
              <a class="div__div3" href="http://rbxkingdom.com/">Купить робуксы</a>
              <div class="div__home-yg-39-z-0-c-5-js-4-n-1">
                <img class="div__glyph" src="robux_head_pc/glyph0.svg" />
              </div>
            </div>
            <a class="div__frame-3" href="{% if profile %}{% url 'bonus' %}{% else %}#auth{% endif %}" {% if not profile %} data-fancybox id="triggger3" {% endif %}>
              <img class="div__group" src="robux_head_pc/group0.svg" />
              <div class="div__div4">Бонусы</div>
            </a>
            <div class="div__frame-48095929">
              <div class="div__frame-5">
                <img class="div__coupon-svgrepo-com-1" src="robux_head_pc/coupon-svgrepo-com-10.svg" />
                <div class="div__div5">Промокод</div>
              </div>
            </div>
            <a class="div__frame-48095928 button" href="{% if profile %}{% url 'account' %}{% else %}#auth{% endif %}"
              {% if not profile %} data-fancybox id="triggger4" {% endif %}>
              <div class="div__frame-5">
                <img class="div__shopping-cart-svgrepo-com-1" src="robux_head_pc/shopping-cart-svgrepo-com-10.svg" />
                <div class="div__div6">Мои покупки</div>
              </div>
            </a>
          </div>
        </div>
        <div class="div__group-197-1">
          <img class="div__frame-1000005973" src="robux_head_pc/frame-10000059730.svg" />
          <img class="div__vector" src="robux_head_pc/vector0.svg" />
          <img class="div__vector2" src="robux_head_pc/vector1.svg" />
          <img class="div__vector3" src="robux_head_pc/vector2.svg" />
          <img class="div__vector4" src="robux_head_pc/vector3.svg" />
          <img class="div__vector5" src="robux_head_pc/vector4.svg" />
          <img class="div__vector6" src="robux_head_pc/vector5.svg" />
          <img class="div__vector7" src="robux_head_pc/vector6.svg" />
          <img class="div__frame-1000005974" src="robux_head_pc/frame-10000059740.svg" />
        </div>
      </div>
