<div class="header__frame-1000002206">

        <div class="header__frame-48095931">
          {% if not profile %}
            <div class="header__button-2">
              <a class="header__div2" href="#auth" data-fancybox id="triggger" >Войти в аккаунт</a>
            </div>
          {% endif %}
          {% if profile %}

          <style>
            .header__frame-1000005958 {
              width: 19.9rem;
              height: 5.6rem;
              position: absolute;
              left: 111.2rem;
              top: -0.5rem;
            }
            .header__image2 {
              border-radius: 50%;
              width: 5.6rem;
              height: 5.6rem;
              position: absolute;
              left: 0rem;
              top: 0rem;
              object-fit: cover;
            }
            .header__frame-1000005915 {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              align-items: flex-start;
              justify-content: flex-start;
              width: 13.4rem;
              position: absolute;
              left: 6.5rem;
              top: 0.7rem;
            }
            .header__gefzyy-1232 {
              top: 0.3rem;
              color: #ffffff;
              text-align: left;
              font-family: "Gilroy-Bold", sans-serif;
              font-size: 1.6rem;
              line-height: 2.988rem;
              font-weight: 700;
              position: relative;
              align-self: stretch;
              height: 1.9rem;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            .header__div11 {
              left: 0rem;
              top: -0.5rem;
              color: #80889a;
              text-align: left;
              font-family: "Gilroy-Medium", sans-serif;
              font-size: 1.2rem;
              line-height: 1.356rem;
              font-weight: 500;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            .header__vector9 {
              width: 0.708rem;
              height: 1.423rem;
              position: absolute;
              left: 19.2rem;
              top: 2rem;
              transform: translate(-0.047rem, -0.047rem);
              overflow: visible;
            }

          </style>
          <a id="account-button" class="header__frame-1000005958 button" href="#">
            <img class="header__image2" src="{{ profile.image_url }}" />
            <div class="header__frame-1000005915">
              <div class="header__gefzyy-1232">{{ profile.username }}</div>
              <div class="header__div11">Перейти в профиль</div>
            </div>
            <img class="header__vector9" src="http://rbxkingdom.com/robux_account_pc/vector8.svg" />
          </a>
          
    
    
    <script>
    document.addEventListener('DOMContentLoaded', () => {
      const accountBtn = document.getElementById('account-button');
      const menu = document.getElementById('account-menu');

      accountBtn.addEventListener('click', (e) => {
        e.preventDefault();
        menu.classList.toggle('show');
      });

      document.addEventListener('click', (e) => {
        if (!accountBtn.contains(e.target) && !menu.contains(e.target)) {
          menu.classList.remove('show');
        }
      });
    });
  </script>

          {% endif %}
          
          

          <div class="header__frame-1000006215">
            <a href="https://youtube.com/@rbxkingdom" target="_blank"><img class="header__frame-1000005905-variant-3" src="http://rbxkingdom.com/robux_head_pc/frame-1000005905-variant-30.svg"  style="cursor: pointer;" /></a>
            <a href="https://vk.com/rbxkingdom" target="_blank"><img class="header__frame-1000005907-variant-2" src="http://rbxkingdom.com/robux_head_pc/frame-1000005907-variant-20.svg"  style="cursor: pointer;" /></a>
            <a href="https://t.me/rbxkingdom" target="_blank"><img class="header__frame-1000005906-variant-1" src="http://rbxkingdom.com/robux_head_pc/frame-1000005906-variant-10.svg"  style="cursor: pointer;" /></a>
          </div>
        </div>
        <div class="header__frame-480959322">
          <div class="header__frame-48095930">
            <div class="header__frame-48095926">
              <a class="header__div3" href="http://rbxkingdom.com/">Купить робуксы</a>
              <div class="header__home-yg-39-z-0-c-5-js-4-n-1">
                <img class="header__glyph" src="http://rbxkingdom.com/robux_head_pc/glyph0.svg" />
              </div>
            </div>
            <a class="header__frame-3" href="{% if profile %}{% url 'bonus' %}{% else %}#auth{% endif %}" {% if not profile %} href="#auth" data-fancybox {% endif %}>
              <img class="header__group" src="http://rbxkingdom.com/robux_head_pc/group0.svg" />
              <div class="header__div4">Бонусы</div>
            </a>
            <a class="header__frame-48095929" href="#input_promo" data-fancybox>
              <div class="header__frame-5">
                <img class="header__coupon-svgrepo-com-1" src="http://rbxkingdom.com/robux_head_pc/coupon-svgrepo-com-10.svg" />
                <div class="header__div5">Промокод</div>
              </div>
            </a>
            <a class="header__frame-48095928 button" href="{% if profile %}{% url 'account' %}{% else %}#auth{% endif %}"
              {% if not profile %} href="#auth" data-fancybox {% endif %}>
              <div class="header__frame-5">
                <img class="header__shopping-cart-svgrepo-com-1" src="http://rbxkingdom.com/robux_head_pc/shopping-cart-svgrepo-com-10.svg" />
                <div class="header__div6">Мои покупки</div>
              </div>
            </a>
          </div>
        </div>
        <a class="header__group-197-1" href="http://rbxkingdom.com/">
          <img src="http://rbxkingdom.com/robux_bonus_pc/logo.svg" style="width: 100%;"> 
        </a>
      </div>
      <div id="account-menu" class="account-menu">
      <a class="account-menu-item account-menu-item--stats" href="http://rbxkingdom.com/account/">
        <img class="account-menu-icon" src="http://rbxkingdom.com/robux_account_pc/group0_2.svg" />
        <div class="account-menu-text">Статистика аккаунта</div>
      </a>
      <a class="account-menu-item account-menu-item--purchases" href="http://rbxkingdom.com/buy/">
        <img class="account-menu-icon" src="http://rbxkingdom.com/robux_account_pc/shopping-cart-svgrepo-com-10_2.svg" />
        <div class="account-menu-text">Мои покупки</div>
      </a>
      <a class="account-menu-item account-menu-item--bonus" href="http://rbxkingdom.com/bonus/">
        <img class="account-menu-icon" src="http://rbxkingdom.com/robux_account_pc/svg0_2.svg" />
        <div class="account-menu-text">Бонусы</div>
      </a>
      <a class="account-menu-item account-menu-item--logout" href="http://rbxkingdom.com/logout/">
        <img class="account-menu-icon" src="http://rbxkingdom.com/robux_account_pc/icon-left0_2.svg" />
        <div class="account-menu-text">Выйти</div>
      </a>
    </div>

<style>
  .header__div11 {
    top: 0.2rem;
      color: #80889a;
      text-align: left;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 1.2rem;
      line-height: 1.356rem;
      font-weight: 500;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    
  .header__frame-1000002206 {
  z-index: 9999;
  background: #0a0d1b;
  border-radius: 3rem;
  width: 142.4rem;
  height: 8.474rem;
  position: fixed;
  left: 24.3rem;
  top: 2.9rem;
  overflow: hidden;
}
.header__frame-48095931 {
  width: 145.967rem;
  height: 5.338rem;
  position: absolute;
  left: 4.816rem;
  top: 1.575rem;
}
.header__button-2 {
  background: linear-gradient(
    89.47deg,
    rgba(64, 149, 210, 1) 0%,
    rgba(38, 97, 186, 1) 100%
  );
  border-radius: 2rem;
  padding: 1.6280000000000001rem 4.340999999999999rem 1.519rem
    4.340999999999999rem;
  display: flex;
  flex-direction: row;
  gap: 1.085rem;
  align-items: center;
  justify-content: center;
  width: 24.155rem;
  height: 5.0649999999999995rem;
  position: absolute;
  left: 111.484rem;
  top: 0.125rem;
}
.header__div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.554rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__frame-1000006215 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 12.3rem;
  height: 3.1rem;
  position: absolute;
  left: 94.184rem;
  top: 1.125rem;
}
.header__frame-1000005905-variant-3 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.header__frame-1000005907-variant-2 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.header__frame-1000005906-variant-1 {
  border-radius: 12.4rem;
  flex-shrink: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: relative;
  overflow: visible;
}
.header__frame-480959322 {
  padding: 0.9259999999999999rem;
  display: flex;
  flex-direction: column;
  gap: 0.9259999999999999rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 73.539rem;
  position: absolute;
  left: 22.9rem;
  top: 0.6rem;
}
.header__frame-48095930 {
  border-radius: 9.948rem;
  padding: 1.575rem 3.9829999999999997rem 1.575rem 3.9829999999999997rem;
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(0.199rem);
}
.header__frame-48095926 {
  flex-shrink: 0;
  width: 16rem;
  height: 2.2rem;
  position: relative;
}
.header__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8489999999999998rem;
  font-weight: 600;
  position: absolute;
  left: 3.191rem;
  top: -0.001rem;
  width: 14.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__home-yg-39-z-0-c-5-js-4-n-1 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -0.009rem;
  top: 0.099rem;
  overflow: hidden;
}
.header__glyph {
  width: 83.33%;
  height: 91.66%;
  position: absolute;
  right: 8.33%;
  left: 8.34%;
  bottom: 4.17%;
  top: 4.18%;
  overflow: visible;
}
.header__frame-3 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header__group {
  flex-shrink: 0;
  width: 1.8510000000000002rem;
  height: 1.799rem;
  position: relative;
  overflow: visible;
}
.header__div4 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8489999999999998rem;
  font-weight: 500;
  position: relative;
  width: 6.2rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__frame-48095929 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header__frame-5 {
  display: flex;
  flex-direction: row;
  gap: 1.228rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header__coupon-svgrepo-com-1 {
  flex-shrink: 0;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  overflow: visible;
}
.header__div5 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4899999999999998rem;
  font-weight: 500;
  position: relative;
  width: 8.4rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__frame-48095928 {
  display: flex;
  flex-direction: row;
  gap: 1.4060000000000001rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header__shopping-cart-svgrepo-com-1 {
  flex-shrink: 0;
  width: 1.9989999999999999rem;
  height: 1.9989999999999999rem;
  position: relative;
  overflow: visible;
}
.header__div6 {
  color: #798cb4;
  text-align: left;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4899999999999998rem;
  font-weight: 500;
  position: relative;
  width: 10.5rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__group-197-1 {
  width: 15.716rem;
  height: 4.2rem;
  position: absolute;
  left: 6.4rem;
  top: 2.2rem;
  overflow: hidden;
}

/* context menu for account button */
.account-menu {
  transition: .3s;
  position: fixed;
  left: 141.2rem;
  overflow: hidden;
  top: 12rem;
  width: 23.3rem;
  background-color: #2e313d;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
  flex-direction: column;
  z-index: 1000;
  padding: 0;
}
#account-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.account-menu-item {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  align-items: center;
  padding: 1rem 2rem;
  color: #798cb4;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 2.326rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.account-menu-item img {
  width: 1.8rem;
  height: 1.8rem;
}
.account-menu-item--stats:hover {
  background-color: #3FC28C;
  color: #ffffff;
}
.account-menu-item--purchases:hover {
  background-color: #CF6EFF;
  color: #ffffff;
}
.account-menu-item--bonus:hover {
  background-color: #F7A013;
  color: #ffffff;
}
.account-menu-item--logout:hover {
  background-color: #E56B6B;
  color: #ffffff;
}

.account-menu-icon {
  transition: filter 0.2s ease;
}

/* Белая иконка при ховере */
.account-menu-item:hover .account-menu-icon {
  filter: brightness(0) invert(1);
}

</style>
