<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Выберите игру из списка ваших плейсов для создания геймпасса.">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
    html {
      font-size: 0.52vw;
    }
    
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Выбор плейса Roblox || Robux Kingdom</title>
</head>
<body>
  <div class="place">
    <div class="place__frame-1000005835">
      <div class="place__frame-1000005844">
        <div class="place__frame-1000005980">
          <img class="place__frame-1000002526" onclick="window.history.back()" src="frame-10000025260.svg" />
          <div class="place__place2">Place</div>
        </div>
        <div class="place__place3">
            Выбери Place, который будет использоваться для покупки
          </div>
        <a id="continue-button" class="place__button" href="#">
          <div class="place__list">
            <div class="place__item"></div>
            <div class="place__item2"></div>
            <div class="place__item3"></div>
            <div class="place__item4"></div>
            <div class="place__item5"></div>
            <div class="place__item6"></div>
            <div class="place__item7"></div>
            <div class="place__item8"></div>
          </div>
          <div class="place__heading-2">Продолжить</div>
        </a>
        <a class="place__frame-1000005982 place-item" data-place-id="1" href="#">
          <div class="place__checkmark"></div>
          <img class="place__image-78" src="image-780.png" />
          <div class="place__gefzyy-123-place">gefzyy_123 Place</div>
        </a>
      </div>
      <div class="place__frame-1000002205">
        <div class="place__footer">
          <div class="place__frame-1000005910">
            <div class="place__frame-1000005875">
              <div class="place__frame-1000005873">
                <div class="place__div">Важная информация</div>
                <div class="place__frame-1000006053">
                  <a class="place__div2" href="{% url 'politconf' %}">Политика конфиденциальности</a>
                  <a class="place__div2" href="{% url 'usersogl' %}">Пользовательское соглашение</a>
                  <a class="place__div2" href="{% url 'moneyback' %}">Политика возврата средств</a>
                </div>
              </div>
              <div class="place__frame-10000058752">
                <div class="place__div">КОНТАКТЫ</div>
                <div class="place__frame-1000006053">
                  <div class="place__you-tube">Наш YouTube</div>
                  <div class="place__vk">Наш VK</div>
                  <div class="place__telegram">Наш Telegram</div>
                </div>
              </div>
            </div>
            <div class="place__frame-1000005850">
              <div class="place__background"></div>
              <div class="place__div3">Все системы в порядке</div>
              <div class="place__frame-1000006041">
                <img class="place__svg" src="svg0.svg" />
                <div class="place__svg2">
                  <img class="place__vector" src="vector0.svg" />
                  <div class="place__frame-1000006010">
                    <img class="place__page-1" src="page-10.svg" />
                  </div>
                </div>
                <img class="place__svg3" src="svg2.svg" />
                <img class="place__svg4" src="svg3.svg" />
              </div>
            </div>
          </div>
          <div class="place__rbxkingdom-gg-2024">
            rbxkingdom.com © 2024 все права защищены
          </div>
        </div>
        <div class="place__subsections">
          <div class="place__frame-1000005876">
            <div
              class="place__beneficiary-international-business-systems-s-r-l-reg-number-3-102-693823-beneficiary-s-address-san-jose-santa-ana-three-hundred-and-fifty-meters-of-the-restaurant-ceviche-del-rey-costa-rica-rbxkingdom-gmail-com"
            >
              Beneficiary: INTERNATIONAL BUSINESS SYSTEMS S.R.L.
              <br />
              Reg. number: 3-102-693823
              <br />
              Beneficiary&#039;s address: SAN JOSE-SANTA ANA,THREE HUNDRED AND
              FIFTY METERS OF THE RESTAURANT CEVICHE DEL REY, COSTA-RICA
              <br />
              <br />
              rbxkingdom@gmail.com
            </div>
            <div class="place__logo">
              <div class="place__frame-1000006060">
                <img
                  class="place__frame-1000005974"
                  src="frame-10000059740.svg"
                />
              </div>
              <div class="place__robux-kingdom">RobuxKingdom</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="place__frame-54">
      <div class="place__frame-1000002206">
        <div class="place__frame-48095931"></div>
        <div class="place__frame-48095932">
          <div class="place__frame-48095930">
            <div class="place__frame-48095926">
              <div class="place__div4">Купить робуксы</div>
              <div class="place__home-yg-39-z-0-c-5-js-4-n-1">
                <img class="place__glyph" src="glyph0.svg" />
              </div>
            </div>
            <div class="place__frame-3">
              <img class="place__group" src="group0.svg" />
              <div class="place__div5">Бонусы</div>
            </div>
            <div class="place__frame-48095929">
              <img
                class="place__coupon-svgrepo-com-1"
                src="coupon-svgrepo-com-10.svg"
              />
              <div class="place__frame-5">
                <div class="place__div6">Промокод</div>
              </div>
            </div>
            <div class="place__frame-480959302">
              <img
                class="place__shopping-cart-svgrepo-com-1"
                src="shopping-cart-svgrepo-com-10.svg"
              />
              <div class="place__frame-5">
                <div class="place__div7">Мои покупки</div>
              </div>
            </div>
          </div>
        </div>
        <div class="place__group-197-1">
          <img class="place__frame-1000005973" src="frame-10000059730.svg" />
          <img class="place__vector2" src="vector1.svg" />
          <img class="place__vector3" src="vector2.svg" />
          <img class="place__vector4" src="vector3.svg" />
          <img class="place__vector5" src="vector4.svg" />
          <img class="place__vector6" src="vector5.svg" />
          <img class="place__vector7" src="vector6.svg" />
          <img class="place__vector8" src="vector7.svg" />
          <img class="place__frame-10000059742" src="frame-10000059741.svg" />
        </div>
        <div class="place__frame-1000006215">
          <img
            class="place__frame-1000005905-variant-3"
            src="frame-1000005905-variant-30.svg"
          />
          <img
            class="place__frame-1000005907-variant-2"
            src="frame-1000005907-variant-20.svg"
          />
          <img
            class="place__frame-1000005906-variant-1"
            src="frame-1000005906-variant-10.svg"
          />
        </div>
      </div>
    </div>
    <div class="place__frame-1000005958">
      <img class="place__image" src="image0.png" />
      <div class="place__frame-1000005915">
        <div class="place__gefzyy-123">gefzyy_123</div>
        <div class="place__div8">Перейти в профиль</div>
      </div>
      <img class="place__vector9" src="vector8.svg" />
    </div>
  </div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const items = document.querySelectorAll(".place-item");
  let selected = "";
  function update() {
    items.forEach(el => {
      if(el.dataset.placeId === selected) {
        el.classList.add("selected");
      } else {
        el.classList.remove("selected");
      }
    });
    const btn = document.getElementById("continue-button");
    if(selected) {
      btn.href = "#";
    } else {
      btn.removeAttribute("href");
    }
  }
  items.forEach(el => {
    el.addEventListener("click", function(e) {
      e.preventDefault();
      selected = el.dataset.placeId;
      update();
    });
  });
  update();
});
</script>

</body>
</html>