<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'check_places/vars.css' %}">
  <link rel="stylesheet" href="{% static 'check_places/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-14-15-pro-11">
    <div class="i-phone-14-15-pro-11__frame-1000006025">
      <div class="i-phone-14-15-pro-11__frame-1000005980">
        <img
          class="i-phone-14-15-pro-11__frame-1000002526"
          src="{% static 'check_places/frame-10000025260.svg' %}"
        />
        <div class="i-phone-14-15-pro-11__place">Place</div>
        <div class="i-phone-14-15-pro-11__place2">
          Выбери Place, который будет использоваться для покупки
        </div>
      </div>
      <div class="i-phone-14-15-pro-11__frame-1000006044">
        <div class="i-phone-14-15-pro-11__heading-2">Продолжить</div>
      </div>
      <div class="i-phone-14-15-pro-11__frame-1000005982">
        <div class="i-phone-14-15-pro-11__gefzyy-123-place">gefzyy_123 Place</div>
        <img class="i-phone-14-15-pro-11__image-78" src="{% static 'check_places/image-780.png' %}" />
        <div class="i-phone-14-15-pro-11__frame-1000005999">
          <img
            class="i-phone-14-15-pro-11__tick-vlltchoso-6-eq-1"
            src="{% static 'check_places/tick-vlltchoso-6-eq-10.svg' %}"
          />
        </div>
      </div>
    </div>
    <div class="i-phone-14-15-pro-11__frame-1000002286">
      <div class="i-phone-14-15-pro-11__rectangle-156470"></div>
      <div class="i-phone-14-15-pro-11__frame-21"></div>
      <div class="i-phone-14-15-pro-11__frame-1000002074">
        <div class="i-phone-14-15-pro-11__frame-1000002072">
          <div class="i-phone-14-15-pro-11__div">Главная</div>
          <div class="i-phone-14-15-pro-11__svg">
            <div class="i-phone-14-15-pro-11__home-yg-39-z-0-c-5-js-4-n-1">
              <img class="i-phone-14-15-pro-11__glyph" src="{% static 'check_places/glyph0.svg' %}" />
            </div>
          </div>
        </div>
        <div class="i-phone-14-15-pro-11__frame-1000002071">
          <img class="i-phone-14-15-pro-11__group" src="{% static 'check_places/group0.svg' %}" />
          <div class="i-phone-14-15-pro-11__div2">Бонусы</div>
        </div>
        <div class="i-phone-14-15-pro-11__frame-1000002070">
          <img class="i-phone-14-15-pro-11__subtract" src="{% static 'check_places/subtract0.svg' %}" />
          <img
            class="i-phone-14-15-pro-11__coupon-svgrepo-com-1"
            src="{% static 'check_places/coupon-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-11__div3">Промокод</div>
        </div>
        <div class="i-phone-14-15-pro-11__frame-10000020742">
          <img
            class="i-phone-14-15-pro-11__shopping-cart-svgrepo-com-1"
            src="{% static 'check_places/shopping-cart-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-11__div4">Мои покупки</div>
        </div>
        <div class="i-phone-14-15-pro-11__frame-1000001603">
          <img
            class="i-phone-14-15-pro-11__frame-1000001795"
            src="{% static 'check_places/frame-10000017950.svg' %}"
          />
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>