{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'check_acc/vars.css' %}">
  <link rel="stylesheet" href="{% static 'check_acc/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-14-15-pro-6">
    <div class="i-phone-14-15-pro-6__frame-1000006025">
      <div class="i-phone-14-15-pro-6__frame-1000006045">
        <div class="i-phone-14-15-pro-6__frame-1000005981">
          <div class="i-phone-14-15-pro-6__frame-1000005939">
            <div class="i-phone-14-15-pro-6__frame-1000005952">
              <div class="i-phone-14-15-pro-6__frame-1000005951"></div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-1000005937">
              <div class="i-phone-14-15-pro-6__gefzy-123">gefzy_123</div>
            </div>
          </div>
          <div class="i-phone-14-15-pro-6__div">Никнейм</div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-1000005869">
          <img
            class="i-phone-14-15-pro-6__account-svgrepo-com-1"
            src="{% static 'check_acc/account-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-6__gefzyyy-123">gefzyyy_123</div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-1000006036">
          <div class="i-phone-14-15-pro-6__frame-1000005984">
            <div class="i-phone-14-15-pro-6__frame-1000005982">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image0.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-1000005986">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image1.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-1000005987">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image2.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-10000059842">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image3.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-1000005985">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image4.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
            <div class="i-phone-14-15-pro-6__frame-1000005983">
              <img class="i-phone-14-15-pro-6__image" src="{% static 'check_acc/image5.png' %}" />
              <div class="i-phone-14-15-pro-6__gefzyy-123">gefzyy_123</div>
            </div>
          </div>
        </div>
      </div>
      <div class="i-phone-14-15-pro-6__frame-1000005980">
        <img
          class="i-phone-14-15-pro-6__frame-1000002526"
          src="{% static 'check_acc/frame-10000025260.svg' %}"
        />
        <div class="i-phone-14-15-pro-6__div2">Аккаунт</div>
        <div class="i-phone-14-15-pro-6__div3">
          Укажите аккаунт, на который будут отправлены приобритенные робуксы
        </div>
      </div>
      <div class="i-phone-14-15-pro-6__frame-1000006044">
        <div class="i-phone-14-15-pro-6__heading-2">Продолжить</div>
      </div>
    </div>
    <div class="i-phone-14-15-pro-6__frame-1000002286">
      <div class="i-phone-14-15-pro-6__rectangle-156470"></div>
      <div class="i-phone-14-15-pro-6__frame-21"></div>
      <div class="i-phone-14-15-pro-6__frame-1000002074">
        <div class="i-phone-14-15-pro-6__frame-1000002072">
          <div class="i-phone-14-15-pro-6__div4">Главная</div>
          <div class="i-phone-14-15-pro-6__svg">
            <div class="i-phone-14-15-pro-6__home-yg-39-z-0-c-5-js-4-n-1">
              <img class="i-phone-14-15-pro-6__glyph" src="{% static 'check_acc/glyph0.svg' %}" />
            </div>
          </div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-1000002071">
          <img class="i-phone-14-15-pro-6__group" src="{% static 'check_acc/group0.svg' %}" />
          <div class="i-phone-14-15-pro-6__div5">Бонусы</div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-1000002070">
          <img class="i-phone-14-15-pro-6__subtract" src="{% static 'check_acc/subtract0.svg' %}" />
          <img
            class="i-phone-14-15-pro-6__coupon-svgrepo-com-1"
            src="{% static 'check_acc/coupon-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-6__div6">Промокод</div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-10000020742">
          <img
            class="i-phone-14-15-pro-6__shopping-cart-svgrepo-com-1"
            src="{% static 'check_acc/shopping-cart-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-6__div7">Мои покупки</div>
        </div>
        <div class="i-phone-14-15-pro-6__frame-1000001603">
          <img
            class="i-phone-14-15-pro-6__frame-1000001795"
            src="{% static 'check_acc/frame-10000017950.svg' %}"
          />
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>