<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'oplata/vars.css' %}">
  <link rel="stylesheet" href="{% static 'oplata/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-14-15-pro-8">
    <div class="i-phone-14-15-pro-8__frame-1000006026">
      <div class="i-phone-14-15-pro-8__frame-1000006035">
        <div class="i-phone-14-15-pro-8__frame-1000005980">
          <img
            class="i-phone-14-15-pro-8__frame-1000002526"
            src="{% static 'oplata/frame-10000025260.svg' %}"
          />
          <div class="i-phone-14-15-pro-8__div">Подтверждение заказа</div>
          <div class="i-phone-14-15-pro-8__div2">
            Проверь детали покупки перед оплатой
          </div>
        </div>
      </div>
      <div class="i-phone-14-15-pro-8__frame-1000006014">
        <div class="i-phone-14-15-pro-8__frame-1000005983">
          <div class="i-phone-14-15-pro-8__div3">К оплате:</div>
          <div class="i-phone-14-15-pro-8___740-74">{{ selected_amount }}Р</div>
        </div>
        <a href="{% url 'create_order' %}" class="i-phone-14-15-pro-8__frame-1000006044">
          <div class="i-phone-14-15-pro-8__heading-2">Оплатить</div>
        </a>
        <div class="i-phone-14-15-pro-8__frame-1000005994">
          <div class="i-phone-14-15-pro-8___5-7-roblox-game-pass">
            Доставка робуксов занимает 5-7 дней. Это общее правило Roblox для
            трансфера при помощи game pass. Мы скоро выполним ваш заказ и начнем
            процесс
          </div>
        </div>
      </div>
      <div class="i-phone-14-15-pro-8__frame-1000006047">
        <div class="i-phone-14-15-pro-8__frame-1000006046">
          <div class="i-phone-14-15-pro-8__frame-1000006036">
            <div class="i-phone-14-15-pro-8__frame-1000005952">
              <div class="i-phone-14-15-pro-8__frame-1000005951"></div>
            </div>
            <div class="i-phone-14-15-pro-8__frame-1000005937"></div>
            <img class="i-phone-14-15-pro-8__image" src="{{ profile.image_url }}" />
            <div class="i-phone-14-15-pro-8__frame-1000006004">
              <div class="i-phone-14-15-pro-8__gefzy-123">{{ profile.username }}</div>
              <div class="i-phone-14-15-pro-8__pass-in-gefzyy-123">
                Place: {{ selected_place.name|default:selected_place_id }}
              </div>
            </div>
          </div>
          <div class="i-phone-14-15-pro-8__frame-1000005939">
            <div class="i-phone-14-15-pro-8__frame-1000005952">
              <div class="i-phone-14-15-pro-8__frame-1000005951"></div>
            </div>
            <div class="i-phone-14-15-pro-8__frame-10000059372">
              <div class="i-phone-14-15-pro-8___1000-r">{{ selected_amount }} R$</div>
            </div>
            <div class="i-phone-14-15-pro-8__frame-1000006006">
              <div class="i-phone-14-15-pro-8___0-r">+0R$</div>
              <img class="i-phone-14-15-pro-8__group" src="{% static 'oplata/group0.svg' %}" />
            </div>
            <div class="i-phone-14-15-pro-8__frame-1000006008">
              <div class="i-phone-14-15-pro-8___1000-r2">{{ selected_amount }} R$</div>
            </div>
          </div>
        </div>
        <div class="i-phone-14-15-pro-8__frame-1000005981">
          <div class="i-phone-14-15-pro-8__frame-10000059392">
            <div class="i-phone-14-15-pro-8__frame-10000059522">
              <div class="i-phone-14-15-pro-8__frame-10000059512"></div>
            </div>
            <div class="i-phone-14-15-pro-8__frame-10000059373">
              <div class="i-phone-14-15-pro-8__gefzy-123-gmail-com">{{ profile.username }}</div>
            </div>
          </div>
          <div class="i-phone-14-15-pro-8__email">Введите свой email</div>
        </div>
        <div class="i-phone-14-15-pro-8__frame-1000005991">
          <div class="i-phone-14-15-pro-8__div4">Выберите платежную систему</div>
          <div class="i-phone-14-15-pro-8__frame-1000005990">
            <div class="i-phone-14-15-pro-8__frame-10000059393">
              <div class="i-phone-14-15-pro-8__frame-1000001974">
                <div class="i-phone-14-15-pro-8__ellipse-42"></div>
                <div class="i-phone-14-15-pro-8__span-after"></div>
              </div>
              <div class="i-phone-14-15-pro-8__frame-1000006012">
                <div class="i-phone-14-15-pro-8__frame-1000006009">
                  <img class="i-phone-14-15-pro-8__group2" src="{% static 'oplata/group1.svg' %}" />
                </div>
                <div class="i-phone-14-15-pro-8__frame-1000006010">
                  <img class="i-phone-14-15-pro-8__page-1" src="{% static 'oplata/page-10.svg' %}" />
                </div>
                <img
                  class="i-phone-14-15-pro-8__frame-1000006011"
                  src="{% static 'oplata/frame-10000060110.svg' %}"
                />
              </div>
            </div>
            <div class="i-phone-14-15-pro-8__frame-1000005940">
              <img class="i-phone-14-15-pro-8___1" src="{% static 'oplata/_10.svg' %}" />
            </div>
            <div class="i-phone-14-15-pro-8__frame-10000059394">
              <img
                class="i-phone-14-15-pro-8__logo-free-kassa-1"
                src="{% static 'oplata/logo-free-kassa-10.png' %}"
              />
            </div>
            <div class="i-phone-14-15-pro-8__frame-1000005941">
              <img
                class="i-phone-14-15-pro-8__frame-1000006013"
                src="{% static 'oplata/frame-10000060130.svg' %}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>