<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'success/vars.css' %}">
  <link rel="stylesheet" href="{% static 'success/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-14-15-pro-5">
    <div class="i-phone-14-15-pro-5__frame-1000006027">
      <div class="i-phone-14-15-pro-5__frame-1000006005">
        <div class="i-phone-14-15-pro-5__frame-1000006003">
          <div class="i-phone-14-15-pro-5__button">
            <div class="i-phone-14-15-pro-5__heading-2">Купить ещё</div>
          </div>
          <div class="i-phone-14-15-pro-5__button2">
            <div class="i-phone-14-15-pro-5__heading-22">Оставить отзыв</div>
            <img class="i-phone-14-15-pro-5__vector" src="{% static 'success/vector0.svg' %}" />
          </div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-1000006002">
          <div class="i-phone-14-15-pro-5__frame-1000005999">
            <img
              class="i-phone-14-15-pro-5__tick-vlltchoso-6-eq-1"
              src="{% static 'success/tick-vlltchoso-6-eq-10.svg' %}"
            />
          </div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-1000005992">
          <div class="i-phone-14-15-pro-5__div">Спасибо за покупку!</div>
          <div class="i-phone-14-15-pro-5___5-7">
            Покупка прошла успешно! Робуксы скоро будут отправлены на ваш аккаунт.
            <br />
            Робуксы идут в пендинг (будут доступны в течение 5-7 дней)
          </div>
        </div>
      </div>
    </div>
    <div class="i-phone-14-15-pro-5__frame-1000002286">
      <div class="i-phone-14-15-pro-5__rectangle-156470"></div>
      <div class="i-phone-14-15-pro-5__frame-21"></div>
      <div class="i-phone-14-15-pro-5__frame-1000002074">
        <div class="i-phone-14-15-pro-5__frame-1000002072">
          <div class="i-phone-14-15-pro-5__div2">Главная</div>
          <div class="i-phone-14-15-pro-5__svg">
            <div class="i-phone-14-15-pro-5__home-yg-39-z-0-c-5-js-4-n-1">
              <img class="i-phone-14-15-pro-5__glyph" src="{% static 'success/glyph0.svg' %}" />
            </div>
          </div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-1000002071">
          <img class="i-phone-14-15-pro-5__group" src="{% static 'success/group0.svg' %}" />
          <div class="i-phone-14-15-pro-5__div3">Бонусы</div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-1000002070">
          <img class="i-phone-14-15-pro-5__subtract" src="{% static 'success/subtract0.svg' %}" />
          <img
            class="i-phone-14-15-pro-5__coupon-svgrepo-com-1"
            src="{% static 'success/coupon-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-5__div4">Промокод</div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-10000020742">
          <img
            class="i-phone-14-15-pro-5__shopping-cart-svgrepo-com-1"
            src="{% static 'success/shopping-cart-svgrepo-com-10.svg' %}"
          />
          <div class="i-phone-14-15-pro-5__div5">Мои покупки</div>
        </div>
        <div class="i-phone-14-15-pro-5__frame-1000001603">
          <img
            class="i-phone-14-15-pro-5__frame-1000001795"
            src="{% static 'success/frame-10000017950.svg' %}"
          />
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>